{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!-- <div>
        <h1><a href="/">It's coming home!</a></h1>
    </div> -->

<h2 class="ui center aligned icon header">
  <i class="circular edit icon"></i>
  Acciones para maíz por mazorca
</h2>

<div class="ui container">
<table class="ui basic table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Enfermedad</th>
      <th>Tratamiento</th>
      <th>Acciones</th>
    </tr>
  </thead>
  {% for enfermedadmaesmaiz in enfermedadmaesmaiz %}
  <tbody>
    <tr>
      <td>{{ enfermedadmaesmaiz.id }}</td>
      <td>{{ enfermedadmaesmaiz.name }}</td>
      <td>{{ enfermedadmaesmaiz.description }}</td>
      <td> <a href= "{% url 'enfermedadmaesmaiz_editar' enfermedadmaesmaiz.id %}"><button class="ui button"><i class="pencil icon"></i>Modificar</button></a> <!-- </td>  Modificar -->
      <!-- <td> --> <a href= "{% url 'enfermedadmaesmaiz_eliminar' enfermedadmaesmaiz.id %}"><button class="ui button"><i class="trash icon"></i>Eliminar&nbsp;&nbsp;&nbsp;</button></a> </td> <!-- Eliminar -->
    </tr>
  </tbody>
  {% endfor %}
</table>
</div>

<br>
{% endblock %}