{% extends "basesoja.html" %}
{% load staticfiles %}

{% block css-files %}
    <link rel="stylesheet" href="{% static "css/newsota.css" %}"/>
{% endblock %}

{% block content %}
<div id="preference-box" class="ui segment container grid"  style="display:none;">
  <div class="two wide column"></div>
  <form id="form-nuevo-enfermedad" class="ui form twelve wide column"> {% csrf_token %}

    <h2 class="ui header">
      <i class="plus icon"></i>
      <div class="content">
        Agregar enfermedad de soja por tallo
      </div>
    </h2>

    <h4 class="ui dividing header">Por favor, ingrese la nueva enfermedad de la planta y sus síntomas</h4>

    <!-- Nombre de la enfermedad -->
    <div class="inline fields">
      <label class="four wide field">Nombre de la enfermedad</label>
      <div class="six wide field">
        <input type="text" name="enfermedad-name" placeholder="Nueva enfermedad">
      </div>
    </div>

    <!-- Dropdown planta -->
    <div class="inline fields" style="display:none;">
      <label class="four wide field">Elige la planta</label>
      <select class="ui search dropdown" name="planta">
        <option value="soja">Soja</option> 
      </select>
    </div>

    <!-- sintoma-aa -->
    <div class="inline fields">
      <label class="four wide field">¿Hay lesiones en la vaina?</label>  
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-aa" tabindex="0" value="TRUE" class="hidden">
          <label>Si</label> 
        </div>
      </div>
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-aa" tabindex="0" value="FALSE" class="hidden">
          <label>No</label>
        </div>
      </div>
    </div>

    <!-- sintoma-bb -->
    <div class="inline fields">
      <label class="four wide field">¿Cuando aparecio el sintoma?</label> 
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-bb" tabindex="0" value="estadio reproductivo" class="hidden">
          <label>En el estadio reproductivo</label> 
        </div>
      </div>
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-bb" tabindex="0" value="cualquier etapa" class="hidden">
          <label>En cualquier etapa</label> 
        </div>
      </div>
    </div>


    <!-- sintoma-cc -->
    <div class="inline fields">
      <label class="four wide field">¿Que tipo de lesiones tienen las hojas?</label> 
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-cc" tabindex="0" value="necrosis" class="hidden">
          <label>Partes muertas</label> 
        </div>
      </div>
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-cc" tabindex="0" value="decoloracion" class="hidden">
          <label>Decoloracion</label> 
        </div>
      </div>
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-cc" tabindex="0" value="ninguna lesion" class="hidden">
          <label>Ninguna</label> 
        </div>
      </div>
    </div>

    <!-- sintoma-dd -->
    <div class="inline fields">
      <label class="four wide field">¿Que tipo de lesiones tienen los tallos?</label> 
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-dd" tabindex="0" value="decoloracion tallo" class="hidden">
          <label>Decoloracion</label> 
        </div>
      </div>
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-dd" tabindex="0" value="punto oscuro tallo" class="hidden">
          <label>Puntos oscuros</label> 
        </div>
      </div>
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-dd" tabindex="0" value="humeda y algodonosa tallo" class="hidden">
          <label>Humeda y algodonosa</label> 
        </div>
      </div>
    </div>

    <!-- Tratamiento a seguir -->
    <div class="inline fields">
      <label class="four wide field">Tratamiento a seguir</label>
      <div class="eleven wide field"><textarea rows="3" id="description"></textarea></div>
    </div>

    <!-- Subir imagen -->
    <div class="inline fields">
      <label class="four wide field">Agregar una imagen de la planta infectada</label>
      <div class="ui icon big button" id="file-upload">
        <i class="upload icon"></i>
      </div>
      <input type="file" id="hidden-file-upload" style="display: none">
    </div>

    <!-- Previsualizacion -->
    <div class="inline fields">
      <div class="four wide field"></div>
      <div id="list" class="inline fields"></div>
      <input id="images" type="text" name="images" style="display: none">
    </div>

    <!-- Mensaje de error -->
    <div class="ui error message"></div>


    <!-- Nuevo modal -->
    <div id="modal-octubre" class="ui tiny modal">
      <i class="close icon"></i>
      <div class="header">
        Nueva enfermedad
      </div>
      <div class="image content">
        <div class="ui small image">
          <img src="/static/images/checkverde.png">
        </div>
        <div class="description">
          <div class="ui header">Se ha agregado una nueva enfermedad</div>
          <p>La nueva enfermedad ha sido agregada exitosamente al sistema</p>
          <p>Por favor, verifique la nueva regla generada para la misma</p>
        </div>
      </div>
      <div class="actions">
        <a href="/escritura"><button class="ui green button">Verificar nueva regla</button></a>        
      </div>
    </div>

    <!--  Fin nuevo modal -->

    <!-- Boton enviar -->
    <div class="inline fields">
      <div id="submit-button" class="ui submit positive button">Agregar</div>
    </div>

  </form>
</div>
{% endblock %}

{% block js-files %}
  <script src="{% static "js/newsota.js" %}"></script>
{% endblock %}
