{% extends "base.html" %}
{% load staticfiles %}

{% block css-files %}
  <link rel="stylesheet" href="{% static "css/preferences.css" %}"/>
{% endblock %}

{% block content %}
<!-- Formulario -->
<div id="outer-box" style="display:none;">
<div id="preference-box" class="ui existing segment container grid">
  <div class="two wide column"></div>
  <form id="form-preference" class="ui form twelve wide column"> {% csrf_token %}

    <h2 class="ui header">
      <i class="flask icon"></i>
      <div class="content">
        Maíz por hoja
      </div>
    </h2>

    <h4 class="ui dividing header">Por favor, selecciona los síntomas</h4>

    <!-- Dropdown planta -->
    <div class="inline fields" style="display:none;"> <!-- NUEVO DISPLAY NONE 1 -->
      <label class="four wide field">Elige la planta</label>
      <select class="ui search dropdown" name="planta">
        <option value="maiz">Maíz</option>
      </select>
    </div>

    <!-- sintoma-aa -->
    <div class="inline fields">
      <label class="four wide field">¿Hay perforaciones en la hoja?</label>  
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-aa" tabindex="0" value="TRUE" class="hidden">
          <label>Sí</label> 
        </div>
      </div>
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-aa" tabindex="0" value="FALSE" class="hidden">
          <label>No</label>
        </div>
      </div>
    </div>

    <!-- sintoma-bb -->
    <div class="inline fields">
      <label class="four wide field">¿De qué color son las manchas?</label> 
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-bb" tabindex="0" value="ceniza" class="hidden">
          <label>Ceniza</label> 
        </div>
      </div>
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-bb" tabindex="0" value="blanco" class="hidden">
          <label>Blanco</label> 
        </div>
      </div>
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-bb" tabindex="0" value="marron" class="hidden">
          <label>Marron</label> 
        </div>
      </div>
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-bb" tabindex="0" value="no mancha" class="hidden">
          <label>No mancha</label> 
        </div>
      </div>
    </div>

    <!-- sintoma-cc -->
    <div class="inline fields">
      <label class="four wide field">¿Qué formas tienen las manchas?</label> 
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-cc" tabindex="0" value="rectangular" class="hidden">
          <label>Rectangulares</label> 
        </div>
      </div>
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-cc" tabindex="0" value="circular" class="hidden">
          <label>Circulares</label> 
        </div>
      </div>
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-cc" tabindex="0" value="irregular" class="hidden">
          <label>Irregular</label> 
        </div>
      </div>
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-cc" tabindex="0" value="no forma mancha" class="hidden">
          <label>No hay manchas</label> 
        </div>
      </div>
    </div>

    <!-- sintoma-ee -->
    <div class="inline fields">
      <label class="four wide field">¿Dónde están distribuidas las lesiones?</label> 
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-ee" tabindex="0" value="en nervadura" class="hidden">
          <label>Por las nervaduras</label> 
        </div>
      </div>
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-ee" tabindex="0" value="en cogollo" class="hidden">
          <label>En el cogollo</label> 
        </div>
      </div>
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-ee" tabindex="0" value="dispersa" class="hidden">
          <label>Dispersas</label> 
        </div>
      </div>
    </div>

    <!-- sintoma-dd -->
    <div class="inline fields">
      <label class="four wide field">¿Se presenta tumbamiento?</label> 
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-dd" tabindex="0" value="si acame" class="hidden">
          <label>Si</label> 
        </div>
      </div>
      <div class="three wide field">
        <div class="ui radio checkbox">
          <input type="radio" name="sintoma-dd" tabindex="0" value="no acame" class="hidden">
          <label>No</label> 
        </div>
      </div>
    </div>

    <!-- Mensaje de error 
    <div class="ui error message"></div> -->

    <!-- Nuevo diciembre sorry-->
            <div id="modal-diciembre-sorry" class="ui tiny modal">
              <i class="close icon"></i>
              <!-- <div class="header">
                Comentario enviado
              </div> -->
              <div class="image content">
                <div class="ui small image">
                  <img src="/static/images/glass.png">
                </div>
                <div class="description">
                  <div class="ui center aligned header">Disculpe, no hay resultados</div>
                  <p>Los síntomas de la enfermedad no coinciden con nuestros registros</p>
                  
                </div>
              </div>
              
            </div>

      <!--  Fin nuevo diciembre sorry -->

    <!-- Boton analizar -->
    <div class="inline fields"> 
      <div id="submit-button" class="ui submit positive button">Analizar planta</div>
    </div>

  </form>
</div>
</div>


<!-- Cards -->
<div id="enfermedades-box" class="ui container">
  <div id="enfermedad-cards" class="ui four stackable link cards">
  </div>
</div>


<!-- Modal -->
<div id="modal-card-detail" class="ui large modal">
  <!-- Mensaje gracias -->
  <div id="modal-message" class="ui green message">Thank you :)</div>

  <!-- Sugerencia -->
  <span id="suggestion-box">
  </span>

  <i class="close icon"></i>

  <!-- Header -->
  <div id="modal-header" class="ui content">
    <div class="ui grid">
      <div class="ui sixteen wide column">
        <h4>Su planta padece de:</h4>
        <h2 id="detail-name" class="ui header">Name of the dish</h2>
        <div id="detail-tags" style="display:none"> <!-- NUEVO DISPLAY NONE 3 -->
          <a class="ui tag label">New</a>
          <a class="ui tag label">New</a>
          <a class="ui tag label">New</a>
        </div>

        <div class="ui right aligned">
          <i id="header-star-1" class="empty star icon review-star"></i>
          <i id="header-star-2" class="empty star icon review-star"></i>
          <i id="header-star-3" class="empty star icon review-star"></i>
          <i id="header-star-4" class="empty star icon review-star"></i>
          <i id="header-star-5" class="empty star icon review-star"></i>
        </div>

      </div>
    </div>
    <div class="ui clearing divider"></div>
  </div>

  <!-- CONTENIDO PRINCIPAL -->
  <div id="modal-content" class="ui content">
    <div class="ui grid">

      <!-- Imagen -->
      <div class="sixteen wide column" id="modal-images">
        <img class="arrows" id="right-arr" src="/static/images/arrow-right.png">
        <img class="arrows" id="left-arr" src="/static/images/arrow-left.png">

        <span id="modal-image-tabs">
          <div class="ui bottom attached tab active" data-tab="first">
            <img src="/static/images/dishes/17_1_square.jpeg" style="width:100%"/>
          </div>
        </spans>

      </div>

      <!-- Tratamiento -->
        <div class="comments">
          <div class="ui dividing header">Tratamiento</div>
          <p id="detail-description">This is a text.</p>
        </div>

        <!-- Comentarios y reviews -->
        <div class="ui comments">
          <h3 class="ui dividing header">Calificar&nbsp;&nbsp;&nbsp;&nbsp;<i id="review-new-button" class="check icon link"></i></h3>

          <form id="review-form" class="ui form">  {% csrf_token %}
            <div class="field">
              <div class="two fields">
                <div class="field" style="display:none"> <!-- NUEVO DISPLAY NONE 2 -->
                  <input type="text" name="review-name" placeholder="Your Name">
                </div>
                <div class="field">
                  <i id="star-1" class="empty star icon link review-star" onclick="clickStar(1)"></i>
                  <i id="star-2" class="empty star icon link review-star" onclick="clickStar(2)"></i>
                  <i id="star-3" class="empty star icon link review-star" onclick="clickStar(3)"></i>
                  <i id="star-4" class="empty star icon link review-star" onclick="clickStar(4)"></i>
                  <i id="star-5" class="empty star icon link review-star" onclick="clickStar(5)"></i>
                </div>
              </div>
            </div>

            <!-- Comentario -->
            <div class="field" style="display:none">
              <input type="text" name="review-stars" style="display:none">
              <textarea id="review-comment" rows="3" placeholder="Your comment here ..."></textarea>
            </div>

            <!-- Mensaje de error 
            <div class="ui error message"></div> -->

            <!-- Nuevo modal DIC-->
            <div id="modal-diciembre" class="ui tiny modal">
              <i class="close icon"></i>
              <div class="header">
                ERROR
              </div>
              <div class="image content">
                <div class="ui small image">
                  <img src="/static/images/rederror.png">
                </div>
                <div class="description">
                  <div class="ui header">Ha ocurrido un error</div>
                  <p>El diagnóstico no se pudo generar a causa de un error</p>
                  <p>Por favor, contáctese con el usuario experto</p>
                </div>
              </div>
              <div class="actions">
                <a href="/"><button class="ui green button">OK</button></a>        
              </div>
            </div>

           <!--  Fin nuevo modal DIC-->

            <!-- Boton enviar -->
            <div class="inline fields">
              <div class="ui submit positive button"> Calificar</div>
            </div>
          </form>

        </div>

    </div>
  </div>

</div>
{% endblock %}


{% block js-files %}
  <script src="{% static "js/preferences.js" %}"></script>
  <script>
    $(window).load(function() {
      $('.menu .item')
    .tab();
    });
  </script>
{% endblock %}
